

div#customer_login.col2-set {
    display: flex;
    flex-wrap: wrap;
    
}

div#customer_login.col2-set > div {
    margin: 10px;
    padding: 20px;
}

/*  buttons */

a#featured, 
a#all,
a.page-numbers, 
button.wp-block-button__link, 
.quiz-submit, 
a.button.send-message-button,
a.sensei-collapsible__toggle.wp-block-button__link.wp-block-button__link, 
button { 
  
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  background-color:$buton1;
  color: $white;
  font-size: 1.19rem;
  padding: 12px 24px;
  border: none;
  outline: none;
}

span.page-numbers.current, 
select.orderby, 
a#all.active, 
a#featured.active, 
a.sensei-collapsible__toggle.wp-block-button__link.collapsed {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  background-color: $buton2;
  color: $black;
  font-size: 1.19rem;
  padding: 12px 24px;
  border: none;
  outline: none;
  
}
/*  ders ilerleme butonu*/


.is-style-outline >.wp-block-button__link:not(.has-background), 
.wp-block-button__link.is-style-outline:not(.has-background) {
  background-color: $buton2;
  color:$white;
}
/*   Sayfa alt kısım gezinti butonları */

/* Pagination*/
.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
     }
 span.page-numbers.current:hover,
 a.next.page-numbers:hover,
 a.page-numbers:hover {
    background:$hower;
    }
 
  
  .page-section{ 
    max-width: 750px;
    margin: 20px auto;
    padding: 0 16px;
    position: relative;

    p, li {
      font-size: 1.15rem;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    h1 {font-size: 3.6rem}
    h2 {font-size: 3.1rem}
    h3 {font-size: 2.6rem}
    h4 {font-size: 2.1rem}
    h5 {font-size: 1.6rem}
    h6 {font-size: 1.15rem}

  @mixin atSmall {
    h1 {font-size: 6.25rem}
    h2 {font-size: 3rem}
    h3 {font-size: 3.125rem}
    h4 {font-size: 2.4rem}
    h5 {font-size: 1.9rem}
    h6 {font-size: 1.15rem}
  }
  &--narrow {
    max-width: 550px;
  }
    
  }


  ol#sensei-quiz-list{
    padding: 0px 0px 0px 20px;
  }

  
 /* Sayfa sonlarında pagination ve yorum css*/ 
  

  section.sensei-breadcrumb{
    max-width: 980px;
    margin: 30px auto;
    padding: 10px 10px 16px 10px;
    position: relative;
  }

  p.nocomments{
    max-width: 850px;
    margin: 0 auto;
    padding: 10px 10px 16px 10px;
    position: relative;
    text-align: center;

  }

  div#respond.comment-respond{
    max-width: 320px;
    margin: 0 auto;
    padding: 10px 10px 16px 10px;
    position: relative;
    text-align: center;

  }

  textarea#comment{
    max-width: 320px;
  }
  ////////////////////
//post-entries ders sayfası sonunda diğer derslere geçiş butonları
  nav#post-entries.post-entries.fix{
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 960px;
    
  }
  nav#post-entries.fix{
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
    padding: 10px 10px 16px 10px;
    position: relative;
  }
  
  div.nav-prev.fl > a, 
  div.nav-next.fr > a {
    box-shadow: 10px 10px 5px grey;
    border-radius: 5px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 19px;
}

//////////////////////////////////////////////////////////
//Üste yazılının altındaki breadcrumb
section.sensei-breadcrumb {
	color:$black;
  max-width: 960px;
	margin: 30px auto;
	padding: 10px 10px 16px 10px;
	position: relative;
	>a {
    box-shadow: 10px 10px 5px grey;
		border-radius: 5px;
		padding: 10px 10px;
		background-color: $buton2;
		color: $white;
		font-weight: bold;
		font-size: 19px;
	}
}


////////////////////////////////////////

  nav.sensei-pagination{
    max-width: 650px;
    margin: 0 auto;
    padding: 10px 10px 16px 10px;
    position: relative;

  }

  .nav-prev.meta-nav:before {
    content: "#8656";
  }
  
  li > a.page-numbers:hover{
    background-color: $buton1;
  }

  /* Kurslar arşivinde en alt çizgiyi sildi */
  .course-container.columns-1{
    border-bottom: none;
  }

  /* Ders sayfasında kurs ilerleme durumu*/

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .flex-item-left {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    background-color: $tabelaRengi;
    flex:65%;
    box-shadow: 10px 10px 5px grey;
  }
  
  .flex-item-right {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin-left: 6px;
    background-color: $tabelaRengi;
    flex: 30%;
    box-shadow: 10px 10px 5px grey;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }

/* İlerleme widget button renk*/









  